families:
  sklearn:
    tfidf_svm_quick:
      desc: TF-IDF + LinearSVC (baseline rapide), class_weight issu du balance_strategy
      vectorizer:
        class: sklearn.feature_extraction.text.TfidfVectorizer
        params:
          ngram_range: [1, 2]
          max_features: 100000
          min_df: 5
      estimator:
        class: sklearn.svm.LinearSVC
        params:
          C: 1.0
          class_weight: from_balance

    tfidf_smo_linear:
      desc: TF-IDF + LinearSVC (variante plus conservatrice)
      vectorizer:
        class: sklearn.feature_extraction.text.TfidfVectorizer
        params:
          ngram_range: [1, 2]
          max_features: 50000
          min_df: 5
      estimator:
        class: sklearn.svm.LinearSVC
        params:
          C: 0.5
          class_weight: balanced

    tfidf_smo_rbf:
      desc: TF-IDF + SVC RBF (plus lourd)
      vectorizer:
        class: sklearn.feature_extraction.text.TfidfVectorizer
        params:
          ngram_range: [1, 2]
          max_features: 50000
          min_df: 5
      estimator:
        class: sklearn.svm.SVC
        params:
          C: 1.0
          kernel: rbf
          gamma: scale
          class_weight: from_balance

    tfidf_perceptron:
      desc: TF-IDF + Perceptron
      vectorizer:
        class: sklearn.feature_extraction.text.TfidfVectorizer
        params:
          ngram_range: [1, 2]
          max_features: 50000
          min_df: 5
      estimator:
        class: sklearn.linear_model.Perceptron
        params:
          max_iter: 50
          tol: 0.001
          class_weight: balanced
          n_jobs: -1

    tfidf_randomtree:
      desc: TF-IDF + DecisionTree
      vectorizer:
        class: sklearn.feature_extraction.text.TfidfVectorizer
        params:
          ngram_range: [1, 2]
          max_features: 50000
          min_df: 5
      estimator:
        class: sklearn.tree.DecisionTreeClassifier
        params:
          max_depth: 30
          min_samples_split: 10
          min_samples_leaf: 4
          class_weight: balanced
          random_state: 42

    tfidf_randomforest:
      desc: TF-IDF + RandomForest
      vectorizer:
        class: sklearn.feature_extraction.text.TfidfVectorizer
        params:
          ngram_range: [1, 2]
          max_features: 50000
          min_df: 5
      estimator:
        class: sklearn.ensemble.RandomForestClassifier
        params:
          n_estimators: 200
          max_depth: 25
          min_samples_leaf: 3
          class_weight: balanced
          n_jobs: -1
          random_state: 42
